APP_NAME="YOUR_NAME"

CONTAINER_NAME="CONTAINER_NAME"
IMAGE_NAME="ghcr.io/xtls/xray-core:latest"

VLESS_SNI="YOUR_SNI" #<-- check README.md 
VLESS_INTERNAL_PORT=8443
VLESS_PUBLIC_PORT=443

CONFIG_DIR="/opt/vless"
CONFIG_FILE="/opt/vless/config.json"
CREDS_FILE="/root/vless-credentials.txt"

VLESS_USE_NGINX=true
VLESS_INSTALL_3X_UI=false
